*.pdf binary
*.zip binary
public/resources/mathematical-modeling-lecture-materials/** binary
public/images/fairchoice-dynamics/*.svg -text whitespace=cr-at-eol
public/resources/modeling-workshop/** -text whitespace=cr-at-eol
